h2, h3, h4, h5 {
  margin-top: 0;
  text-transform: none; }

h2 {
  font-size: 2rem; }

h1, h3,
.hero-sb span a,
.boldMovesBox-link,
.jumpAwayLink a,
.eventDate_day, .eventTitle a,
.boldMovesBox-story p,
footer .footer-section ul li a,
footer .footer-section p,
.site-nav a {
  font-family: "Effra W01", Helvetica, sans-serif;
  font-weight: 900; }

.eventTitle a,
footer .footer-section ul li a,
footer .footer-section p,
.boldMovesBox-story p,
.site-nav a {
  font-weight: 700; }

.site-nav a {
  text-transform: uppercase; }

.hero-sb p,
h2, .changingWorld h3,
.footer-address p,
.optionalCallout p,
.eventDate_month,
.hero--interior__content__description {
  font-family: "Museo Slab W01", "Museo Slab", Gerogia, serif;
  font-weight: 300; }

.hero--interior__content__description {
  font-size: 1.5rem; }

.eventDate_month {
  font-weight: 700; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wpb_wrapper {
  width: 90%;
  max-width: 1160px;
  margin: 0 auto; }
  @media (min-width: 1161px) {
    .wpb_wrapper {
      width: 100%; } }

.hero-sb {
  position: relative;
  width: 100%; }
  .hero-sb img {
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 10; }
  .hero-sb .hero-sb_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem 5% 0;
    z-index: 20;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); }
    .hero-sb .hero-sb_text h1 {
      color: #fff;
      font-size: 35px;
      line-height: 90%;
      width: 100%; }
    .hero-sb .hero-sb_text p, .hero-sb .hero-sb_text span a {
      color: #fff; }
    .hero-sb .hero-sb_text p {
      font-size: 0.75rem;
      margin-bottom: 2rem; }
    .hero-sb .hero-sb_text span a {
      font-family: "Effra W01", Helvetica, sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background: #800000;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border: 3px solid #800000;
      padding: 0.5rem 2rem; }
      .hero-sb .hero-sb_text span a:hover {
        background: transparent;
        border-color: #fff; }
    @media (min-width: 481px) {
      .hero-sb .hero-sb_text {
        padding-top: 1rem;
        width: 75%; }
        .hero-sb .hero-sb_text p {
          font-size: 1rem; } }
    @media (min-width: 641px) {
      .hero-sb .hero-sb_text {
        padding-top: 1.5rem;
        width: 66%; }
        .hero-sb .hero-sb_text h1 {
          font-size: 60px; }
        .hero-sb .hero-sb_text p {
          font-size: 1.25rem; } }
    @media (min-width: 801px) {
      .hero-sb .hero-sb_text {
        padding-top: 3rem; }
        .hero-sb .hero-sb_text h1 {
          font-size: 80px; }
        .hero-sb .hero-sb_text p {
          font-size: 1.5rem; } }
    @media (min-width: 941px) {
      .hero-sb .hero-sb_text {
        padding-top: 4rem; }
        .hero-sb .hero-sb_text h1 {
          font-size: 100px; }
        .hero-sb .hero-sb_text p {
          font-size: 1.66rem; } }

@media (min-width: 1160px) {
  .hero-sb {
    max-height: 650px;
    overflow: hidden; }
    .hero-sb img {
      margin-top: -20%; }
    .hero-sb .hero-sb_text {
      width: 50%;
      padding-top: 2rem; } }

@media (min-width: 1280px) {
  .hero-sb .hero-sb_text {
    width: 100%;
    padding-top: 2rem; }
    .hero-sb .hero-sb_text div {
      width: 1160px;
      margin: 0 auto;
      display: block;
      background: 0, 0, 0, 0.2; }
      .hero-sb .hero-sb_text div h1, .hero-sb .hero-sb_text div p {
        width: 50%; } }

.optionalCallout p {
  color: #800000;
  background: #fff;
  margin: 0 auto;
  max-width: 760px;
  padding: 1rem;
  z-index: 20;
  position: relative;
  top: 1.5rem;
  margin-top: -3.5rem; }
  .optionalCallout p strong {
    display: block;
    font-weight: 500; }
  .optionalCallout p a {
    color: #800000;
    text-decoration: none; }
    .optionalCallout p a:hover {
      color: #000; }
  .optionalCallout p .fa-floatleft {
    float: left;
    display: block;
    height: 3rem;
    margin-right: 1rem; }
  @media (min-width: 581px) {
    .optionalCallout p {
      width: 90%;
      text-align: center; }
      .optionalCallout p strong {
        display: inline; }
      .optionalCallout p .fa-floatleft {
        float: none;
        display: inline; } }
  @media (min-width: 901px) {
    .optionalCallout p {
      font-size: 1.25rem; } }

.seawolfStrip .wpb_wrapper {
  width: 90%;
  max-width: 1160px;
  margin: 0 auto; }

.seawolfStrip {
  background: #800000 url(../../img/home-apr15/redSwooshes.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 6rem 0 4rem;
  margin-bottom: 3rem;
  z-index: 10; }
  .seawolfStrip::after {
    clear: both;
    content: "";
    display: table; }
  .seawolfStrip h2, .seawolfStrip h3 {
    color: #fff; }
  .seawolfStrip h3 {
    font-size: 4vw;
    line-height: 1; }
    @media (min-width: 1161px) {
      .seawolfStrip h3 {
        font-size: 62px; } }
    @media (max-width: 499px) {
      .seawolfStrip h3 {
        font-size: 20px; } }
  .seawolfStrip ul {
    list-style: none;
    max-width: 1160px;
    margin: 0 auto; }
    .seawolfStrip ul li {
      float: left;
      width: 100%; }
      .seawolfStrip ul li a {
        float: left;
        display: block;
        width: 100%;
        margin-bottom: 9px;
        font-size: 3vw;
        font-family: "Effra W01", Helvetica, sans-serif;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background: #000;
        color: #fff;
        font-size: 1.1rem;
        padding: 0.5rem 0;
        border: 3px solid #000; }
        .seawolfStrip ul li a:hover {
          background: transparent;
          border-color: #fff; }
  @media (min-width: 801px) {
    .seawolfStrip h3 {
      width: 100%; } }
  .seawolfStrip ul {
    width: 100%; }
    @media (min-width: 801px) {
      .seawolfStrip ul {
        width: 90%; }
        .seawolfStrip ul li {
          width: 33.33%;
          padding: 0 0.33rem; }
          .seawolfStrip ul li:first-child {
            padding: 0 0.66rem 0 0; }
          .seawolfStrip ul li:last-child {
            padding: 0 0 0 0.66rem; }
          .seawolfStrip ul li a {
            font-size: 1rem; } }
    @media (min-width: 1161px) {
      .seawolfStrip ul {
        width: 70%; } }

@media (max-width: 1160px) {
  .boldMoves .wpb_wrapper {
    width: 90%;
    margin: 0 auto; } }

@media (max-width: 600px) {
  .boldMoves .wpb_wrapper {
    width: 90%;
    max-width: 360px;
    margin: 0 auto; } }

.boldMoves {
  padding-bottom: 2rem; }
  .boldMoves::after {
    clear: both;
    content: "";
    display: table; }
  .boldMoves h2 {
    color: #828282; }

.boldMovesBox {
  background: #800000 url(http://placekitten.com/388/424) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
  float: left;
  clear: right;
  height: 360px; }
  .boldMovesBox::after {
    clear: both;
    content: "";
    display: table; }
  .boldMovesBox:first-child {
    clear: both; }
  .boldMovesBox .boldMovesBox-title {
    display: block;
    width: 66%;
    margin: 0 auto 10rem;
    padding: 3rem 0 1rem;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    cursor: pointer; }
    .boldMovesBox .boldMovesBox-title:hover {
      border-bottom: 4px solid white; }
    .boldMovesBox .boldMovesBox-title h3 {
      display: inline;
      color: #fff;
      font-size: 2rem; }

@media (min-width: 601px) and (max-width: 900px) {
  .boldMovesBox {
    width: 50%;
    height: 420px; } }
  @media (min-width: 901px) {
    .boldMovesBox {
      width: 33.33%;
      height: 420px; } }
  .boldMovesBox .boldMovesBox-story {
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: 20;
    -webkit-transform: rotate(-8deg) translate(5%, -8%);
    -ms-transform: rotate(-8deg) translate(5%, -8%);
    transform: rotate(-8deg) translate(5%, -8%); }
    .boldMovesBox .boldMovesBox-story p {
      color: #fff;
      font-size: 1rem;
      padding: 3rem 5rem 3rem 6rem;
      line-height: 1.66; }

@media (min-width: 901px) and (max-width: 1200px) {
  .boldMovesBox .boldMovesBox-story p {
    padding: 2rem 3rem 1rem 4rem; } }

@media (min-width: 601px) and (max-width: 800px) {
  .boldMovesBox .boldMovesBox-story p {
    padding: 2rem 3rem 1rem 4rem; } }
      @media (max-width: 600px) {
        .boldMovesBox .boldMovesBox-story p {
          padding: 2rem 3rem 1rem 4rem; } }
      @media (max-width: 360px) {
        .boldMovesBox .boldMovesBox-story p {
          padding: 1rem 3rem 1rem 4rem; } }
    .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
      font-family: "Effra W01", Helvetica, sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background: #000;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border: 3px solid #000;
      padding: 0.5rem;
      margin-left: 6rem; }
      .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory:hover {
        background: transparent;
        border-color: #fff; }

@media (min-width: 901px) and (max-width: 1100px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
    margin-left: 4rem; } }

@media (min-width: 601px) and (max-width: 740px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
    margin-left: 4rem; } }
      @media (max-width: 600px) {
        .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
          margin-left: 4rem; } }
      @media (max-width: 360px) {
        .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
          margin-left: 4rem; } }
  .boldMovesBox .boldMovesBox-link {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 30;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none; }
    .boldMovesBox .boldMovesBox-link span {
      display: none; }
    .boldMovesBox .boldMovesBox-link:hover {
      color: #000; }

@media (max-width: 600px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -17%);
    -ms-transform: rotate(-8deg) translate(5%, -17%);
    transform: rotate(-8deg) translate(5%, -17%); } }

@media (min-width: 601px) and (max-width: 700px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -9%);
    -ms-transform: rotate(-8deg) translate(5%, -9%);
    transform: rotate(-8deg) translate(5%, -9%); } }

@media (min-width: 701px) and (max-width: 900px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -1%);
    -ms-transform: rotate(-8deg) translate(5%, -1%);
    transform: rotate(-8deg) translate(5%, -1%); } }

@media (min-width: 901px) and (max-width: 1053px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -10%);
    -ms-transform: rotate(-8deg) translate(5%, -10%);
    transform: rotate(-8deg) translate(5%, -10%); } }

@media (min-width: 1054px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -1%);
    -ms-transform: rotate(-8deg) translate(5%, -1%);
    transform: rotate(-8deg) translate(5%, -1%); } }

.boldMovesBox:nth-child(3) {
  background: #800000 url(../../img/home-apr15/news-athletics.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.boldMovesBox:nth-child(4) {
  background: #800000 url(../../img/home-apr15/news-arts.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.boldMovesBox:nth-child(5) {
  background: #800000 url(../../img/home-apr15/news-research.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.boldMovesBox:nth-child(6) {
  background: #800000 url(../../img/home-apr15/news-medicine.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.boldMovesBox:nth-child(7) {
  background: #800000 url(../../img/home-apr15/news-students.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.boldMovesBox:nth-child(8) {
  background: #800000 url(../../img/home-apr15/news-lab.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.boldMovesBox:nth-child(3) {
  clear: both; }

.boldMovesBox:nth-child(3) .boldMovesBox-story,
.boldMovesBox:nth-child(7) .boldMovesBox-story {
  background: maroon;
  border-top: 12px solid #d52027; }

.boldMovesBox:nth-child(5) .boldMovesBox-story,
.boldMovesBox:nth-child(6) .boldMovesBox-story {
  background: maroon;
  border-top: 6px solid #d52027; }

.boldMovesBox:nth-child(4) .boldMovesBox-story,
.boldMovesBox:nth-child(8) .boldMovesBox-story {
  background: #d52027;
  border-top: 24px solid maroon; }

.boldMovesBox.engaged .boldMovesBox-title {
  visibility: hidden; }

.boldMovesBox.engaged .boldMovesBox-story {
  -webkit-transform: rotate(0) translate(0, 0);
  -ms-transform: rotate(0) translate(0, 0);
  transform: rotate(0) translate(0, 0);
  top: 0;
  left: -10%;
  border-top: none;
  background: rgba(213, 32, 39, 0.75); }

.boldMovesBox.engaged .boldMovesBox-link span {
  display: inline; }

.whatsComingUp {
  background: #800000 url(../../img/home-apr15/redSwooshes.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4rem 5px; }
  .whatsComingUp::after {
    clear: both;
    content: "";
    display: table; }
  .whatsComingUp h2, .whatsComingUp p, .whatsComingUp a, .whatsComingUp ul, .whatsComingUp li {
    color: #fff; }
  .whatsComingUp ul {
    list-style: none;
    padding: 0; }
    .whatsComingUp ul li {
      clear: left; }

@media (min-width: 481px) and (max-width: 900px) {
  .whatsComingUp ul li {
    float: left;
    clear: none;
    width: 48%;
    padding-right: 20px; } }

@media (min-width: 481px) and (max-width: 900px) {
  .whatsComingUp ul li:nth-child(2),
  .whatsComingUp ul li:last-child {
    padding-right: 0; } }
      @media (min-width: 901px) {
        .whatsComingUp ul li {
          float: left;
          clear: none;
          width: 24%;
          padding-right: 20px; }
          .whatsComingUp ul li:first-child {
            clear: both; } }
      @media (min-width: 901px) {
        .whatsComingUp ul li:last-child {
          padding-right: 0; } }
  .whatsComingUp .eventTitle a {
    text-decoration: none; }
    .whatsComingUp .eventTitle a:hover {
      color: #666; }
  .whatsComingUp .eventDate {
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    margin: 0 20px 20px 0;
    float: left;
    background: #fff;
    color: #800000; }
    .whatsComingUp .eventDate span {
      display: block;
      text-align: center; }
      .whatsComingUp .eventDate span.eventDate_day {
        font-size: 2rem; }

@media (min-width: 601px) {
  .boldMoves h2, .whatsComingUp h2 {
    float: left;
    width: 66%; }
  .whatsComingUp h2 {
    margin-bottom: 3rem; }
  .jumpAwayLink {
    float: right;
    width: 33%;
    line-height: 2rem;
    text-align: right;
    margin-top: 0.5rem; }
    .jumpAwayLink a {
      text-decoration: none; }
      .jumpAwayLink a:hover {
        color: #666; } }

.boldMoves .jumpAwayLink a {
  color: #800000; }

.changingWorld {
  background: #ccc url(../../img/home-apr15/photoPetri.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1rem 0 2rem; }
  .changingWorld::after {
    clear: both;
    content: "";
    display: table; }
  .changingWorld img {
    padding-top: 1rem;
    float: left;
    width: 25%; }
    @media (min-width: 901px) {
      .changingWorld img {
        width: 30%; } }
  .changingWorld .pitch {
    float: right;
    width: 66%; }
    .changingWorld .pitch h3 {
      color: #fff;
      margin: 0 0 3rem;
      font-size: 1rem; }

@media (min-width: 641px) and (max-width: 900px) {
  .changingWorld .pitch h3 {
    font-size: 2rem; } }
      @media (min-width: 901px) {
        .changingWorld .pitch h3 {
          font-size: 4rem; } }
    .changingWorld .pitch a {
      font-family: "Effra W01", Helvetica, sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background: #800000;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border: 3px solid #800000;
      padding: 0.5rem 3rem; }
      .changingWorld .pitch a:hover {
        background: transparent;
        border-color: #fff; }
  @media (min-width: 901px) {
    .changingWorld {
      padding: 6rem 0; } }

@media (max-width: 579px) {
  .changingWorld img {
    width: 70%;
    margin-bottom: 2rem; }
  .changingWorld .pitch {
    width: 100%;
    clear: left; }
    .changingWorld .pitch h3 {
      font-size: 2rem; } }

footer .wpb_wrapper {
  width: 100%; }

footer {
  padding: 2rem 0 0; }
  footer img {
    width: 90%;
    max-width: 357px;
    display: block;
    margin: 1rem auto 0; }

@media (min-width: 901px) and (max-width: 1160px) {
  footer img {
    float: left;
    width: 33%; } }
    @media (min-width: 1161px) {
      footer img {
        float: left;
        width: 260px;
        margin-right: 40px; } }

footer .footer-section {
  background: #fff;
  padding: 1rem; }
  footer .footer-section::after {
    clear: both;
    content: "";
    display: table; }
  footer .footer-section ul {
    float: left;
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0; }
    footer .footer-section ul li {
      margin-bottom: 1rem; }
      footer .footer-section ul li a {
        color: #800000;
        text-decoration: none; }
        footer .footer-section ul li a:hover {
          color: #000; }
  footer .footer-section p a {
    color: #800000;
    text-decoration: none; }
    footer .footer-section p a:hover {
      color: #000; }
  footer .footer-section:nth-child(2) ul:first-child li a {
    font-weight: 900;
    font-size: 1.25em; }
  footer .footer-section:nth-child(3) {
    background: #ebebeb; }
  footer .footer-section:nth-child(4) {
    text-align: center;
    background: #ebebeb; }

@media (min-width: 901px) and (max-width: 1160px) {
  footer .footer-section:nth-child(2),
  footer .footer-section:nth-child(3) {
    float: left;
    width: 33%;
    background: #fff; }
  footer .footer-section:nth-child(4) {
    clear: both; } }
  @media (min-width: 1161px) {
    footer .footer-section:nth-child(2),
    footer .footer-section:nth-child(3) {
      float: left;
      width: 340px;
      background: #fff; }
    footer .footer-section:nth-child(4) {
      float: right;
      width: 180px;
      background: #fff; }
      footer .footer-section:nth-child(4) p {
        margin-top: 0; } }

footer .footer-section:first-child {
  background: #fff; }

footer .footer-section:last-child a {
  color: #800000;
  font-size: 24px;
  margin: 0 4px 0 0; }
  footer .footer-section:last-child a:hover {
    color: #000; }

.footer-address {
  clear: both;
  background: #333;
  padding: 0.5rem 0; }
  .footer-address p {
    color: #fff;
    text-align: center; }
    .footer-address p span {
      display: block; }
      .footer-address p span:last-child {
        font-size: 1.2rem;
        padding-top: 0.5rem; }
    @media (min-width: 901px) {
      .footer-address p span {
        display: inline-block;
        border-right: 1px solid #fff;
        padding-right: 0.5rem;
        margin-right: 0.5rem; }
        .footer-address p span:last-child {
          font-size: inherit;
          padding: 0;
          border-right: none; } }
