.hero--interior__image {
  background-image: url(../img/home-apr15/Jonathan-Conyers.png); }

@media (min-width: 641px) {
  .hero--interior__image {
    background-image: url(../img/home-apr15/Jonathan-Conyers.png); } }
