/* specific styles for sbu nav */

.nav-elements-container {
	position: relative;
}

.quick-nav {
	background-color: #292929;
}

.quick-nav ul {
	
}

.quick-nav ul li {
	text-align: center;
	float: left;
	width: 20%;
}

.quick-nav a,
.quick-nav .more-trigger,
.quick-nav .audience-trigger {
	text-decoration: none;
	border: 0 none;
	color: #ddd;
	display: block;
	padding: 10px 5px;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family:'Trade Gothic W01 Cn 18';
}

.quick-nav a .icon,
.quick-nav .more-trigger .icon,
.quick-nav .audience-trigger .icon {
	min-height: 32px;

}

.quick-nav .more-trigger,
.quick-nav .audience-trigger {
	cursor: pointer;
}

.quick-nav a:hover,
.quick-nav a.selected,
.quick-nav .more-trigger:hover,
.quick-nav .more-trigger.selected,
.quick-nav .audience-trigger:hover,
.quick-nav .audience-trigger.selected {
	background-color: #990000;
	color: #f7f7f7;
	text-decoration: none;
}

.quick-nav .icon {
	font-size: 30px;
}

.quick-nav .icon.fa-mobile {
	font-size: 40px;
	line-height: 30px;
}

.quick-nav .label {
	display: block;
	width: 100%;
	margin: 0;
}







.audience-nav {
	background: #eee;
	font-family:'CenturyExpandedLTW01-It';
}

.dropdown-nav {
	margin: 0 auto;
	float: none;
}

.dropdown-nav a {
	border-bottom: 0 none;
}

.dropdown-nav a:before {
	font-family: FontAwesome;
	content: "\f005";
	margin-right: 8px;
	font-size: 10px;
	display: inline-block;
	float: left;
	color: #a00;
}

.dropdown-nav a:hover:before {
	color: #fff;
}





.main-nav-list a span:before {
	font-family: FontAwesome;
	content: "\f005";
	margin-right: 13px;
	font-size: 9px;
	display: inline-block;
	float: left;
	color: #fff;
	line-height: 1.65em;
}

.main-nav-list a:hover span:before {
	color: #fff;
}




.more-nav {
	background-color: #333;
	display: none;
	overflow: hidden;
	box-shadow: 0px 12px 20px -16px #000 inset, 0px -12px 20px -12px #000 inset;
}

.more-nav ul {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 0;
}

.more-nav ul li {
	display: block;
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.more-nav a {
	text-decoration: none;
	border: 0 none;
	color: #ddd;
	display: block;
	padding: 10px 5px;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family:'Trade Gothic W01 Cn 18';
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
}

.more-nav a:hover {
	background-color: #990000;
	color: #f7f7f7;
}

.more-nav .icon-wrapper {
	float: left;
	display: block;
	width: 40px;
	text-align: center;
	margin: 0 4px 0 0;
}

.more-nav .icon {
	font-size: 22px;
}

.more-nav .icon.fa-mobile {
	font-size: 30px;
	line-height: 17px;
}

.more-nav .label {
	margin: 2px 0 0;
	float: left;
	font-size: 16px;
}

/* Primary styles for logo container on $page_cat='main' */

.logo-container {
	background-color: #fff;
	padding: 16px 10px 16px;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo-container .logo {
	max-width: 357px;
	height: auto;
	margin: 0 auto;
}

.logo-wrapper img {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-right: 10px;
}

.logo-wrapper .site-tagline {
	display: none;
}

.logo-wrapper .site-tagline span {
	font-family:'Trade Gothic W01 Bold';
}

	/* Override styles for other $page_cat's e.g. 'sub' */

	.page-cat-sub.logo-container {
		background-color: #fff;
		padding: 16px 0 0;
		box-shadow: none;
		width: 100%;
	}

	.page-cat-sub.logo-container .logo {
		max-width: 357px;
		height: auto;
		margin: 0 auto;
	}

	.page-cat-sub.logo-container h1.site-name {
		width: 100%;
		font-size: 1.6em;
		text-align: center;
		border-top: 1px solid #ddd;
		margin: 15px 0 0 0;
		padding: 12px 0 17px 0;
		box-shadow: 0px 8px 11px -12px #555 inset;
		background: #f9f9f9;
		text-shadow: 0 1px 0 #fff;
	}

	.page-cat-sub.logo-container h1.site-name a,
	.page-cat-sub.logo-container h1.site-name a:link,
	.page-cat-sub.logo-container h1.site-name a:visited,
	.page-cat-sub.logo-container h1.site-name a:active {
		color: #000;
	}

	.page-cat-sub .logo-wrapper img {
		width: 80%;
		margin: 0 auto;
		display: block;
		padding-right: 10px;
	}

	.page-cat-sub .logo-wrapper .site-tagline {
		display: none;
	}

	.page-cat-sub .logo-wrapper .site-tagline span {
		font-family:'Trade Gothic W01 Bold';
	}








.site-nav,
.sub-nav {
	height: auto;
	padding: 0;
	background: #900;
	width: 100%;
	display: block;
	color: #eee;
	text-shadow: 0 1px 0 #500;
	min-height: 48px;
	z-index: 100000;
	position: relative;
	box-shadow: 0px 8px 11px -10px #333;
}
/* fix bug on Safari 5 that causes site nav wrapper to hide */
.site-nav * {
	-webkit-transform: translate3d(0,0,0);
}

.drop-nav {
	background: #2d2525;
	background: rgba(45, 37, 37, .88);
	position: fixed;
	z-index: 9999999;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.drop-nav li {
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.drop-nav li:nth-child(even),
.drop-nav li[data-li-order='02'],
.drop-nav li[data-li-order='04'],
.drop-nav li[data-li-order='06'] {
	padding-right: 5%;
	padding-bottom: 4%;
}

.drop-nav li:nth-child(odd),
.drop-nav li[data-li-order='01'],
.drop-nav li[data-li-order='03'],
.drop-nav li[data-li-order='05'] {
	padding-left: 5%;
	padding-bottom: 4%;
}

.drop-nav li a {
	color: #fff;
	background: #272727;
	background: rgba(45, 37, 37, 1);
	font-family: 'Trade Gothic W01 Light';
    border: 1px solid #777;
    display: table;
    border-radius: 60px;
    padding: 0 10px;
    width: 120px;
    height: 120px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 0;
    text-align: center;
}

.drop-nav a .label {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.drop-nav li a:hover {
	border: 5px solid #186e79;
}

.drop-nav .drop-nav-heading {
	display: block;
	margin: 0 0 12px
}

.drop-nav .close-drop-nav {
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	display: none;
}

.drop-nav .close-drop-nav span,
.drop-nav .drop-nav-heading {
	width: 100%;
	display: block;
	text-align: center;
	color: #fff;
	background: #272727;
	background: rgba(45, 37, 37, 1);
	font-family: 'Trade Gothic W01 Light';
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-nav .close-drop-nav span {
    border-top: 1px solid #777;
	padding: 8px 0;
	cursor: pointer;
	background: rgba(45, 37, 37, .2);
}

.drop-nav .drop-nav-heading {
	border-bottom: 1px solid #777;
}

.drop-nav .drop-nav-heading a {
	width: 80%;
	display: block;
	text-align: left;
	color: #fff;
	padding: 6px 3%;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
    float: left;
    display: inline-block;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-nav .drop-nav-heading .icon {
	width: 18%;
	float: left;
    display: inline-block;
    font-size: 22px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 6px 3%;
	margin: 0 0 0 2%;
	text-align: right;
	cursor: pointer;
}

.drop-nav .drop-nav-heading:hover,
.drop-nav .close-drop-nav span:hover {
    border-color: #186e79;
    background: #2b2222;
    background: rgba(43, 34, 34, 1);
}

/* since mobile sticky == problems, force sticky site-nav to un-stick on mobile */

@media only screen and (min-width: 0px) and (max-width: 1022px) {

	.audience-nav {
		display: block !important;
	}
	.site-nav,
	.sub-nav {
		position: relative !important;
		z-index: 50;
	}
	.main-nav-container .sticky-wrapper {
		height: auto !important;
	}
	.cd-dropdown ul li {
		width: 300px !important;
	}
}

.site-nav .search-container,
.sub-nav .search-container {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	background: #900;
	width: 75%;
	height: 48px;
}

.search-container input[type="text"] {
	padding: 0 2px 0 10px;
	border: 1px solid #900;
	border-radius: 3px 0 0 3px;
	float: left;
	color: #fff;
	height: 34px;
	margin: 7px 0 7px 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Light';
}

.big-n-bold .search-container.stay-in-nav input[type="text"] {
	/*border: 1px solid #fff;*/
}

.site-nav.default .search-container ::-webkit-input-placeholder,
.sub-nav.default .search-container ::-webkit-input-placeholder,
.cms-search .search-container ::-webkit-input-placeholder {
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.site-nav.default .search-container :-moz-placeholder,
.sub-nav.default .search-container :-moz-placeholder,
.cms-search .search-container :-moz-placeholder { /* Firefox 18- */
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.site-nav.default .search-container ::-moz-placeholder,
.sub-nav.default .search-container ::-moz-placeholder,
.cms-search .search-container ::-moz-placeholder {  /* Firefox 19+ */
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.site-nav.default .search-container :-ms-input-placeholder,
.sub-nav.default .search-container :-ms-input-placeholder,
.cms-search .search-container :-ms-input-placeholder {
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

	.site-nav.big-n-bold .search-container.stay-in-nav ::-webkit-input-placeholder,
	.sub-nav.big-n-bold .search-container.stay-in-nav ::-webkit-input-placeholder,
	.site-nav.big-n-bold .search-container.stay-in-nav :-moz-placeholder,
	.sub-nav.big-n-bold .search-container.stay-in-nav :-moz-placeholder,
	.site-nav.big-n-bold .search-container.stay-in-nav ::-moz-placeholder,
	.sub-nav.big-n-bold .search-container.stay-in-nav ::-moz-placeholder,
	.site-nav.big-n-bold .search-container.stay-in-nav :-ms-input-placeholder,
	.sub-nav.big-n-bold .search-container.stay-in-nav :-ms-input-placeholder {
		font-family:'CenturySchlbkW15-Italic' !important;
	}

.search-container button[type="submit"] {
	padding: 0 10px;
	font-family: 'Trade Gothic W01 Light';
	font-size: 16px;
	border-radius: 0;
	width: 40px;
	border: 1px solid #900;
	background: none;
	border-left: 0 none;
	color: #eee;
	outline: 0;
	float: left;
}

.site-nav .search-container button[type="submit"],
.sub-nav .search-container button[type="submit"],
.cms-search .search-container button[type="submit"] {
	height: 34px;
	margin: 5px 0 7px 0;
	width: 30px;
}

.site-nav .search-container button .icon,
.sub-nav .search-container button .icon,
.cms-search .search-container button .icon {
	margin-top: -1px;
	display: block;
}


.site-nav .search-container input[type="text"],
.sub-nav .search-container input[type="text"],
.cms-search .search-container input[type="text"] {
	width: 85px;
	border: 1px solid #800;
	box-shadow: 0 0 15px #800 inset;
	background: inherit;
}

.site-nav .search-container input[type="text"]:focus,
.site-nav .search-container input[type="text"].focus,
.cms-search .search-container input[type="text"].focus,
.sub-nav .search-container input[type="text"]:focus,
.sub-nav .search-container input[type="text"].focus,
.cms-search .search-container input[type="text"].focus {
	font-family: 'Trade Gothic W01 Light';
	width: 110px;
}

.search-container input[type="text"]:hover,
.search-container input[type="text"].hover {
	border: 1px solid #800;
	box-shadow: 0 0 15px #800 inset;
}

.search-container input[type="text"]:focus,
.search-container input[type="text"].focus {
	background: #e7e7e7;
	border: 1px solid #800;
	box-shadow: 2px 2px 8px #777 inset;
	color: #333;

}

.search-container input[type="text"]:focus::-webkit-input-placeholder,
.search-container input[type="text"].focus::-webkit-input-placeholder {
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container input[type="text"]:focus:-moz-placeholder,
.search-container input[type="text"].focus:-moz-placeholder { /* Firefox 18- */
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container input[type="text"]:focus::-moz-placeholder,
.search-container input[type="text"].focus::-moz-placeholder {  /* Firefox 19+ */
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container input[type="text"]:focus:-ms-input-placeholder,
.search-container input[type="text"].focus:-ms-input-placeholder {
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container button[type="submit"]:hover,
.search-container button[type="submit"].hover {
	
}

.search-container button[type="submit"]:active,
.search-container button[type="submit"].active {
	
}


.site-nav .menu-trigger,
.sub-nav .menu-trigger {
	float: right;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 25%;
	text-align: right;
	padding: 12px 10px 0 0;
	background: #900;
	height: 46px;
	border: 0 none;
	border-width: 0;
	outline: 0 none;
}

.site-nav .menu-trigger .icon,
.sub-nav .menu-trigger .icon {
	font-size: 24px;
}

.site-nav ul,
.sub-nav ul {
	margin: 48px 0 0 0;
	padding: 0;
	/*display: none;*/
	overflow: hidden;
}

.site-nav ul li,
.sub-nav ul li {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #800;
}

.site-nav a {
	text-decoration: none;
	border: 0 none;
	color: #eeeeee;
	display: block;
	padding: 14px 5px 14px 15px;
	text-shadow: none;
	font-size: 14px;
	font-family:'Trade Gothic Next W01';
	font-weight: normal;
}

.sub-nav a {
	text-decoration: none;
	border: 0 none;
	color: #eeeeee;
	display: block;
	padding: 14px 5px 14px 15px;
	font-size: 14px;
	font-family: 'Trade Gothic Next W01', Arial, sans-serif;
	font-weight: normal;
	text-shadow: none;
}

.sub-nav.big-n-bold a {
	font-family: 'TradeGothicW01-BoldCn20 675334','Oswald';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	padding: 14px 5px 14px 15px;
}

.sub-nav.big-n-bold .main-nav-list a span:before {
	margin-top: 2px;
}

.site-nav.default a:hover,
.site-nav.default .selected a,
.site-nav.default.default ul a.selected,
.sub-nav.default a:hover,
.sub-nav.default .selected a,
.sub-nav.default ul a.selected {
	background-color: #a00;
	color: #f7f7f7;
}

.site-nav.big-n-bold a:hover,
.site-nav.big-n-bold .selected a,
.site-nav.big-n-bold ul a.selected,
.sub-nav.big-n-bold a:hover,
.sub-nav.big-n-bold .selected a,
.sub-nav.big-n-bold ul a.selected {
	background-color: transparent;
	color: #f7f7f7;
}


.site-nav ul:hover .selected a {
	background-color: #700 !important;
}

.site-nav.default ul:hover .selected a:hover,
.sub-nav.default ul:hover .selected a:hover {
	background-color: #b00 !important;
}

.site-nav.big-n-bold ul:hover .selected a:hover,
.sub-nav.big-n-bold ul:hover .selected a:hover {
	background-color: transparent !important;
}

.site-nav .label,
.sub-nav .label {
	display: block;
	width: 100%;
}



.footer-container {
	background-color: #292929;
	padding: 10px;
	text-align: center;
}

.footer-container {

}

.footer-bar span,
.footer-bar .item {
	font-size: 12px;
	color: #eee;
	font-family:'Trade Gothic W01 Light';
	display: block;
	margin: 0 0 4px 0;
}

.footer-bar span .copyright {
	display: inline-block;
}

.footer-bar span a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 auto;
}
.footer-bar a.item:hover {
	text-decoration: underline;
}

.footer-bar span a.copyright {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 3px;
	background: transparent;
	border: 0 none;
	font-size: inherit;
}


@media only screen and (min-width: 310px) {
	.more-nav ul li {
		width: 50%;
	}

	.logo-wrapper .site-tagline {
		width: 100%;
		text-align: center;
		font-family:'Trade Gothic W01 Light';
		letter-spacing: -.025em;
		color: #777;
		font-size: 11px;
		margin: -6px 0 0;
		display: block;
	}
	.site-nav .search-container input[type="text"],
	.sub-nav .search-container input[type="text"] {
		width: 110px;
	}
	.site-nav .search-container input[type="text"]:focus,
	.site-nav .search-container input[type="text"].focus,
	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 160px;
	}
	.logo-wrapper .site-tagline {
		font-size: 12px;
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    .logo-wrapper img {
		width: 100%;
	}
	.logo-wrapper .site-tagline {
		font-size: 13px;
	}
	.site-nav .search-container input[type="text"],
	.sub-nav .search-container input[type="text"] {
		width: 140px;
	}
	.site-nav .search-container input[type="text"]:focus,
	.site-nav .search-container input[type="text"].focus,
	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 170px;
	}
}

@media only screen and (min-width: 480px) and (max-height: 699px) {
	.drop-nav li {
		display: inline-block;
		width: 33.333%;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    float: left;
	}

	.drop-nav li:nth-child(even),
	.drop-nav li:nth-child(odd),
	.drop-nav li[data-li-order='01'],
	.drop-nav li[data-li-order='02'],
	.drop-nav li[data-li-order='03'],
	.drop-nav li[data-li-order='04'],
	.drop-nav li[data-li-order='05'],
	.drop-nav li[data-li-order='06'] {
		padding-right: 2%;
		padding-left: 2%;
		padding-bottom: 4%;
	}
}

@media only screen and (min-width: 480px) and (min-height: 700px) and (max-width: 767px) {
	.drop-nav li {
		display: inline-block;
		width: 50%;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    float: left;
	}

	.drop-nav li:nth-child(even),
	.drop-nav li:nth-child(odd),
	.drop-nav li[data-li-order='01'],
	.drop-nav li[data-li-order='02'],
	.drop-nav li[data-li-order='03'],
	.drop-nav li[data-li-order='04'],
	.drop-nav li[data-li-order='05'],
	.drop-nav li[data-li-order='06'] {
		padding-right: 2%;
		padding-left: 2%;
		padding-bottom: 4%;
	}

	.drop-nav li a {
	    padding: 30px 20px;
	    width: 200px;
	    height: 200px;
	    font-size: 1.7em;
	    border-radius: 100px;
	}
}

@media only screen and (min-width: 640px) and (max-height: 840px) and (max-width: 767px) {
	.drop-nav li {
		display: inline-block;
		width: 33.333%;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    float: left;
	}

	.drop-nav li:nth-child(even),
	.drop-nav li:nth-child(odd),
	.drop-nav li[data-li-order='01'],
	.drop-nav li[data-li-order='02'],
	.drop-nav li[data-li-order='03'],
	.drop-nav li[data-li-order='04'],
	.drop-nav li[data-li-order='05'],
	.drop-nav li[data-li-order='06'] {
		padding-right: 2%;
		padding-left: 2%;
		padding-bottom: 4%;
	}

	.drop-nav li a {
	    padding: 30px 20px;
	    width: 180px;
	    height: 180px;
	    font-size: 1.7em;
	}
}

@media only screen and (min-width: 490px) {
    .more-nav ul li {
	    width: 33.333%;
	}

	.site-nav ul li,
	.sub-nav ul li {
		display: block;
		width: 50%;
		float: left;
		text-align: left;
	}

	.site-nav a,
	.sub-nav a {
		padding-left: 25%;
	}

	.site-nav ul li:nth-child(2n+1),
	.sub-nav ul li:nth-child(2n+1) {
	    border-right: 1px solid #800;
	}

	.site-nav ul li:nth-last-child(2),
	.sub-nav ul li:nth-last-child(2) {
	    border-bottom: 1px solid #800;
	}

	.footer-bar span,
	.footer-bar .item {
		display: inline-block;
		padding-right: 9px;
		padding-left: 6px;
		border-right: 1px solid #aaa;
	}

	.footer-bar span + span,
	.footer-bar span + .item,
	.footer-bar .item + .item {
		border-left: 1px solid #111;
	}

	.footer-bar span:last-child,
	.footer-bar .item:last-child {
		border-right: 0 none;
	}
	
}

@media only screen and (min-width: 640px) {

	.page-cat-sub.logo-container h1.site-name {
		font-size: 2.2em;
	}

}

@media only screen and (min-width: 768px) {
    .more-nav ul {
	    padding-left: 4%;
    }
    .more-nav ul li {
	    width: 24%;
	}

	.site-nav ul li,
	.sub-nav ul li {
		display: block;
		width: 33.333%;
		float: left;
	}

	.site-nav ul li:nth-child(n+1),
	.sub-nav ul li:nth-child(n+1) {
	    border-right: 1px solid #800;
	}

	.site-nav ul li:nth-last-child(3),
	.sub-nav ul li:nth-last-child(3) {
	    border-bottom: 1px solid #800;
	}

	.quick-nav ul li {
		float: left;
		width: 14.28%
	}

	.drop-nav {
		background: #2d2525;
		background: url('../img/bkg/fade-to-2d2525.png') repeat-x 0 0 rgba(45, 37, 37, .88);
		position: absolute;
		z-index: 9999999;
		left: 0;
		right: 0;
		top: auto;
		bottom: auto;
		padding: 20px 0 52px;
	}

	.drop-nav .close-drop-nav {
		display: block;
	}

	.drop-nav-heading {
		display: none !important;
	}

	.drop-nav li {
		width: 16.665%;
	}

	.drop-nav li:nth-child(even),
	.drop-nav li:nth-child(odd),
	.drop-nav li[data-li-order='01'],
	.drop-nav li[data-li-order='02'],
	.drop-nav li[data-li-order='03'],
	.drop-nav li[data-li-order='04'],
	.drop-nav li[data-li-order='05'],
	.drop-nav li[data-li-order='06'] {
		padding: 8px 0 8px 0;
	}

}
@media only screen and (min-width: 960px) {
	.cd-dropdown {
		width: 100% !important;
		margin: 0 !important;
	}

	.cd-dropdown .cd-dropdown-label {
		display: none;
	}

	.cd-dropdown ul {
		display: block;
		top: auto !important;
		position: relative !important;
		width: 960px !important;
		margin: 0 auto !important;
	}

	.cd-dropdown ul li {
		top: auto !important;
		left: auto !important;
		position: relative !important;
		z-index: 1005;
		display: block !important;
		float: left;
		margin-left: 0px;
		opacity: 1;
		-webkit-transform: none;
		transition: all 200ms ease;
		-webkit-transition: all 200ms ease;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}

	.cd-dropdown ul li[data-value="1"] {
		width: 17% !important;
	}

	.cd-dropdown ul li[data-value="2"] {
		width: 17% !important;
	}

	.cd-dropdown ul li[data-value="3"] {
		width: 19% !important;
	}

	.cd-dropdown ul li[data-value="4"] {
		width: 11.5% !important;
	}

	.cd-dropdown ul li[data-value="5"] {
		width: 13.5% !important;
	}

	.cd-dropdown ul li[data-value="6"] {
		width: 22% !important;
	}



	.dropdown-nav[data-selected-tab="1"] ul li[data-value="1"] a,
	.dropdown-nav[data-selected-tab="2"] ul li[data-value="2"] a,
	.dropdown-nav[data-selected-tab="3"] ul li[data-value="3"] a,
	.dropdown-nav[data-selected-tab="4"] ul li[data-value="4"] a,
	.dropdown-nav[data-selected-tab="5"] ul li[data-value="5"] a,
	.dropdown-nav[data-selected-tab="6"] ul li[data-value="6"] a {
		background-color: #900 !important;
		color: #fff;
	}
	.dropdown-nav[data-selected-tab="1"] ul li[data-value="1"] a:before,
	.dropdown-nav[data-selected-tab="2"] ul li[data-value="2"] a:before,
	.dropdown-nav[data-selected-tab="3"] ul li[data-value="3"] a:before,
	.dropdown-nav[data-selected-tab="4"] ul li[data-value="4"] a:before,
	.dropdown-nav[data-selected-tab="5"] ul li[data-value="5"] a:before,
	.dropdown-nav[data-selected-tab="6"] ul li[data-value="6"] a:before {
		color: #fff;
	}
/*
	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a {
		background-color: #eee !important;
		color: #999;
	}
	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a:before,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a:before,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a:before,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a:before,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a:before,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a:before {
		color: #a00;
	}

	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a:hover,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a:hover,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a:hover,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a:hover,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a:hover,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a:hover {
		background-color: #eee !important;
		color: #a00 !important;
	}
	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a:hover:before,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a:hover:before,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a:hover:before,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a:hover:before,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a:hover:before,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a:hover:before {
		color: #a00;
	}
*/


	.cd-dropdown ul li a {
		padding: 0 10px !important;
		font-size: .9em;
		background: #eee !important;
		box-shadow: none !important;
	}

	.cd-dropdown ul li a:hover {
		background: #a00 !important;
	}

	.logo-container .logo {
		width: 357px;
		display: inline-block;
		float: left;
	}

	.logo-wrapper img {
		width: 100%;
		padding-right: 10px;
	}
		.page-cat-sub.logo-container {
			padding: 4px 10px 21px;
		}

		.page-cat-sub.logo-container .logo {
			width: 262px;
			display: inline-block;
			float: left;
		}

		.page-cat-sub .logo-wrapper img {
			width: 100%;
			padding-right: 10px;
		}
		.page-cat-sub.logo-container h1.site-name {
			width: 607px;
			font-size: 2em;
			text-align: left;
			border-top: 0 none;
			margin: 8px 0 0 20px;
			padding: 0 0 0 20px;
			box-shadow: none;
			background: #fff;
			text-shadow: none;
			float: left;
			display: inline-block;
			border-left: 1px solid #555;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}

	.logo-wrapper .site-tagline {
		width: auto;
		display: inline-block;
		text-align: left;
		margin: 28px 0 0 15px;
		padding: 0 0 0 15px;
		float: left;
		border-left: 1px solid #777;
	}

	.logo-wrapper .site-tagline span {
		font-family:'Trade Gothic W01 Bold';
	}

}

@media only screen and (min-width: 1022px) {

	.cd-dropdown ul {
		box-shadow: none !important;
		height: 40px !important;
		width: 100% !important;
		max-width: 1022px;
	}

	.audience-nav {
		display: none;
		box-shadow: 0px 12px 20px -16px #000 inset, 0px -12px 20px -12px #000 inset;
		background-color: #292929;
		text-shadow: 0 1px 0 #000;
	}

	.cd-dropdown ul li a {
		background: transparent !important;
		color: #eee !important;
	}


	.nav-elements-container {
		padding: 0 0 38px 0;
	}

	.quick-nav-wrapper {
		width: 1022px;
		margin: 0 auto;
		position: relative;
	}

	.quick-nav {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #fff;
		box-shadow: none;
	}

	.quick-nav ul {
		width: auto;
		margin: 0;
		float: right;
		border-radius: 0 0 18px 18px;
		border: 1px solid #ccc;
		border-top: 0 none;
		height: 38px;
	}

	.quick-nav ul li {
		float: left;
		width: auto;
		background: #fff;
		height: 100%;
	}
	.quick-nav ul li .label {
		border-right: 1px solid #900;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 0 9px 0 0;
	    text-align: left;
	}

	.quick-nav ul:hover .label {
		border-right: 1px solid #fff;
	}

	.quick-nav ul li:hover .audience-trigger .label {
		border-right: 1px solid #900;
	}

	.quick-nav ul li.before-selected .label {
		border-right: 1px solid #fff;
	}

	.quick-nav ul li .audience-trigger.selected .label {
		border-right: 1px solid #900;
	}

	.quick-nav ul li .more-trigger.selected .label {
		border-right: 1px solid #292929;
	}

	.quick-nav ul li:hover .label {
		border-right: 1px solid #292929;
	}

	.quick-nav ul li:first-child {
		border-radius: 0 0 0 16px;
	}

	.quick-nav ul li:first-child a,
	.quick-nav ul li:first-child .more-trigger,
	.quick-nav ul li:first-child .audience-trigger {
		border-radius: 0 0 0 12px;
		padding-left: 14px;
	}

	.quick-nav ul li:first-child {
	}

	.quick-nav ul li.for-info {
		margin-right: 165px;
	}

	nav[data-search-style="stay-in-nav"] ul li.for-info {
		margin-right: 0;
		border-radius: 0 0 16px 0;
	}


	nav[data-search-style="stay-in-nav"] ul li.for-info span {
		border-radius: 0 0 16px 0;
	}

	.quick-nav a,
	.quick-nav .more-trigger,
	.quick-nav .audience-trigger {
		text-decoration: none;
		color: #000;
		display: block;
		text-shadow: none;
		font-size: 11px;
		font-family:'Trade Gothic Next W01','Oswald';
		font-weight: 400;
		text-transform: uppercase;
		padding: 11px 0 13px 10px;
		border: 0 none;
	}

	.quick-nav .audience-trigger {
		color: #900;
		padding: 11px 0 12px 10px;
		font-family: 'Trade Gothic W01 Bold 2','Oswald';
	}

	.quick-nav ul .audience-trigger .label {
		padding-left: 10px;
		position: relative;
	}

	.quick-nav .audience-trigger .label,
	.quick-nav ul:hover .audience-trigger .label {
		border-right: 1px solid #fff;
	}

	.quick-nav a:hover,
	.quick-nav a.selected,
	.quick-nav .more-trigger:hover,
	.quick-nav .more-trigger.selected {
		text-shadow: 0 0 1px #000;
		background-color: #292929;
	}
	
/*
	.quick-nav ul li:last-child .label:after {
		content: "...";
		display: inline-block;
		color: #900;
	}
*/
	.quick-nav .audience-trigger.selected .label:after,
	.quick-nav .more-trigger.selected .label:after,
	.quick-nav ul li:last-child:hover .label:after {
		color: #fff;
	}

	.quick-nav .label {
		margin-top: 0;
	}

	.quick-nav .icon {
		display: none;
	}

	.quick-nav .label .icon {
		display: block;
		position: absolute;
		font-size: 1.3em;
		left: 0;
		top: 0;
	}

	.quick-nav .label .icon.rotate-left90 {
		left: 8px;
		top: -9px;
	}

	.quick-nav .label .icon.fa-caret-up {
		left: -3px;
		top: -1px;
	}

	.more-nav ul {
	    padding-left: 5%;
    }
    .more-nav ul li {
	    width: 19%;
	}
	.more-nav ul a {
		height: 40px;
	}

	.more-nav .icon-wrapper .icon {
		font-size: 17px;
		color: #ddd;
	}

	.more-nav .icon.fa-mobile {
		font-size: 26px;
		line-height: 16px;
	}

	.more-nav .label {
		margin-top: 0;
	}

	.logo-container {
		padding: 0px 10px 18px;
		box-shadow: 0px -8px 11px -11px #333 inset;
	}

	.logo-wrapper {
	    width: auto;
	    float: left;
	}
		.page-cat-sub.logo-container h1.site-name {
			width: 640px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	.site-nav,
	.sub-nav {
		min-height: 44px;
	}

	.site-nav.big-n-bold,
	.sub-nav.big-n-bold {
		min-height: 65px;
	}

	.site-nav .menu-trigger,
	.sub-nav .menu-trigger {
		display: none;
	}

	.site-nav .search-container button[type="submit"],
	.sub-nav .search-container button[type="submit"],
	.cms-search .search-container button[type="submit"] {
		height: 32px;
		width: 40px;
	}

	.site-nav ul {
		width: 100%;
		padding: 0;
		float: left;
		margin: 0;
		display: block !important;
	}

	.site-nav .search-container.stay-in-nav,
	.sub-nav .search-container.stay-in-nav,
	.cms-search .search-container.stay-in-nav {
		margin: 0;
		position: absolute;
		width: 300px;
		float: none;
		display: block;
		left: 804px;
		background: transparent;
		top: -2px;
	}

	.site-nav.big-n-bold .search-container.stay-in-nav,
	.sub-nav.big-n-bold .search-container.stay-in-nav,
	.cms-search.big-n-bold .search-container.stay-in-nav {
		top: 7px;
	}

	.site-nav .search-container.default,
	.sub-nav .search-container.default,
	.cms-search .search-container.default {
		margin: 0;
		position: absolute;
		width: 155px;
		float: none;
		display: block;
		left: 861px;
		background: transparent;
		top: -126px;
	}

	.sub-nav .search-container {
	}

	.site-nav .search-container.default ::-webkit-input-placeholder,
	.sub-nav .search-container.default ::-webkit-input-placeholder,
	.cms-search .search-container.default ::-webkit-input-placeholder {
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container.default :-moz-placeholder,
	.sub-nav .search-container.default :-moz-placeholder,
	.cms-search .search-container.default :-moz-placeholder { /* Firefox 18- */
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container.default ::-moz-placeholder,
	.sub-nav .search-container.default ::-moz-placeholder,
	.cms-search .search-container.default ::-moz-placeholder {  /* Firefox 19+ */
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container.default :-ms-input-placeholder,
	.sub-nav .search-container.default :-ms-input-placeholder,
	.cms-search .search-container.default :-ms-input-placeholder {
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container.default input[type="text"],
	.sub-nav .search-container.default input[type="text"],
	.cms-search .search-container.default input[type="text"] {
		font-size: 11px;
		/*border-right: 1px solid #800;*/
		height: 21px;
		margin: 10px 1% 4px 9%;
		box-shadow: none;
		border: 1px solid #ddd;
		background: #ddd;
		border-radius: 20px;
		width: 137px;
	}

	.site-nav.big-n-bold .search-container.stay-in-nav input[type="text"],
	.sub-nav.big-n-bold .search-container.stay-in-nav input[type="text"],
	.cms-search.big-n-bold .search-container.stay-in-nav input[type="text"] {
		border: 1px solid #fff;
		border-radius: 0;
		width: 100%;
		box-shadow: none;
		font-family:'CenturySchlbkW15-Italic' !important;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 5px 0 0 0;
	    padding-right: 35px;
	    height: 40px;
	    line-height: 2em;
	    font-size: 1.2em;
	}
/*)
	.sub-nav .search-container input[type="text"] {
		font-size: 14px;
			//border-right: 1px solid #800;
		width: 100px;
		padding: 0 4px 0 8px;
		height: 29px;
		margin: 7px 1% 6px 9%;
	}
*/
	.site-nav .search-container.default input[type="text"]:focus,
	.sub-nav .search-container.default input[type="text"]:focus,
	.cms-search .search-container.default input[type="text"]:focus {
		box-shadow: 0 0 5px #ccc inset;
	}

	.site-nav .search-container.default input[type="text"]:focus,
	.site-nav .search-container.default input[type="text"].focus,
	.sub-nav .search-container.default input[type="text"]:focus,
	.sub-nav .search-container.default input[type="text"].focus {
		width: 137px;
		padding-right: 31px;
	}

/*
	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 70%;
	}
*/

	.site-nav.big-n-bold .search-container.stay-in-nav,
	.sub-nav.big-n-bold .search-container.stay-in-nav,
	.cms-search.big-n-bold .search-container.stay-in-nav {
		width: 190px;
	}

	.site-nav .search-container.default button[type="submit"],
	.sub-nav .search-container.default button[type="submit"],
	.cms-search .search-container.default button[type="submit"] {
		height: 29px;
		width: 20%;
		margin: 6px 0 4px 0;
		border-right: 0 none;
		padding: 0;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		border: 0 none;
		box-shadow: none;
		color: #292929;
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 5px;
		z-index: 99;
	}

	.site-nav.big-n-bold .search-container.stay-in-nav button[type="submit"],
	.sub-nav.big-n-bold .search-container.stay-in-nav button[type="submit"] {
		border: 0 none;
		position: absolute;
		top: 3px;
		right: 0;
		font-size: 1.6em;
	}

	.site-nav.big-n-bold .search-container.stay-in-nav input[type="text"] ~ button[type="submit"],
	.site-nav.big-n-bold .search-container.stay-in-nav input[type="text"] ~ button[type="submit"],
	.sub-nav.big-n-bold .search-container.stay-in-nav input[type="text"] ~ button[type="submit"],
	.sub-nav.big-n-bold .search-container.stay-in-nav input[type="text"] ~ button[type="submit"] {
		color: #fff;
	}

	.site-nav.big-n-bold .search-container.stay-in-nav input[type="text"]:focus ~ button[type="submit"],
	.site-nav.big-n-bold .search-container.stay-in-nav input[type="text"].focus ~ button[type="submit"],
	.sub-nav.big-n-bold .search-container.stay-in-nav input[type="text"]:focus ~ button[type="submit"],
	.sub-nav.big-n-bold .search-container.stay-in-nav input[type="text"].focus ~ button[type="submit"] {
		color: #333;
	}
/*
	.sub-nav .search-container button[type="submit"] {
		height: 29px;
		width: 20%;
		margin: 7px 0 6px 0;
		border-right: 0 none;
		padding: 0;
		-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
		border: 0 none;
		box-shadow: none;
	}
*/
	.site-nav .search-container.default button .icon,
	.sub-nav .search-container.default button .icon,
	.cms-search .search-container.default button .icon {
		margin-top: -2px;
		display: block;
	}

	.sub-nav ul {
		width: 84%;
		padding: 0;
		float: left;
		margin: 0;
		display: block !important;
	}
/*
	.sub-nav .search-container {
		width: 16%;
		height: 100%;
		margin: 0;
		position: relative;
	}
*/
	.site-nav a {
		padding: 14px 5px;
	}

	.sub-nav a {
		padding: 14px 20px;
	}

	.site-nav.big-n-bold a,
	.sub-nav.big-n-bold a {
		font-size: 1.6em;
		font-family:'TradeGothicNextW02-Bold 694368';
		font-family: 'TradeGothicW01-BoldCn20 675334','Oswald';
		text-transform: uppercase;
		font-weight: normal;
		height: 65px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 12px 5px;
	    display: inline-block;
	    text-shadow: none;
	    position: relative;
	}

	.site-nav.big-n-bold a:hover,
	.sub-nav.big-n-bold a:hover {
		background: transparent;
	}

	.site-nav.big-n-bold a span,
	.sub-nav.big-n-bold a span {
		padding: 7px 12px;
		border: 1px solid #900;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.site-nav.big-n-bold a:hover:after,
	.sub-nav.big-n-bold a:hover:after,
	.site-nav.big-n-bold .active a:after,
	.sub-nav.big-n-bold .active a:after {
        left: 50%;
        border: solid transparent;
        content: " ";
        position: absolute;
        pointer-events: none;
        bottom: 0;
	}

    .site-nav.big-n-bold a:hover:after,
	.sub-nav.big-n-bold a:hover:after,
	.site-nav.big-n-bold .active a:after,
	.sub-nav.big-n-bold .active a:after {
        border-bottom-color: #2d2525;
        border-width: 10px;
        margin-left: -10px;
        z-index: 1000;
    }

    .site-nav.big-n-bold .no-dropdown a:hover:after,
	.sub-nav.big-n-bold .no-dropdown a:hover:after {
        border-bottom-color: transparent;
        display: none;
    }

    .site-nav.big-n-bold a:hover:before,
	.sub-nav.big-n-bold a:hover:before,
	.site-nav.big-n-bold .active a:before,
	.sub-nav.big-n-bold .active a:before {
        border-bottom-color: #000;
        border-width: 0;
        margin-left: 0;
    }

	.site-nav.big-n-bold .selected a span,
	.sub-nav.big-n-bold .selected a span {
		background: #000;
		border: 1px solid #fff;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.main-nav-list a span:before {
		content: "";
		display: none;
	}

	.site-nav ul li:first-child,
	.sub-nav ul li:first-child {
		border-left: 1px solid #800;
	}

	.site-nav.big-n-bold ul li:first-child,
	.sub-nav.big-n-bold ul li:first-child,
	.site-nav.big-n-bold ul li,
	.sub-nav.big-n-bold ul li {
		border: 0 none;
	}

	.site-nav ul li,
	.sub-nav ul li {
		text-align: center;
		float: left;
		border-bottom: 0 none !important;
		border-top: 0 none !important;
	}

	.site-nav ul li {
		width: 10%;
	}

	.sub-nav ul li {
		width: auto;
	}

	.site-nav ul li.smaller {
		width: 8.5%;
	}

	.site-nav ul li.larger {
		width: 12.5%;
	}

	.site-nav ul li.medicine {
		position: absolute;
		right: 0;
		background: url("../img/logo/sbu-shield-21x26-white.png") no-repeat scroll 0 42%;
		height: 100%;
	}

	.site-nav ul li.medicine:hover {
		background: url("../img/logo/sbu-shield-21x26-white.png") no-repeat scroll 0 42%;
	}

	.site-nav ul li.medicine:hover a {
		background: none
	}

	.site-nav ul li.medicine span {
		font-family: 'CenturyExpandedLTW01-Ro';
		text-transform: none;
		font-size: 1.1em
	}



	.drop-nav li {
		width: auto;
		margin-right: 25px;
		float: left;
	}

	.drop-nav li:nth-child(even),
	.drop-nav li:nth-child(odd),
	.drop-nav li[data-li-order='01'],
	.drop-nav li[data-li-order='02'],
	.drop-nav li[data-li-order='03'],
	.drop-nav li[data-li-order='04'],
	.drop-nav li[data-li-order='05'],
	.drop-nav li[data-li-order='06'] {
		padding: 20px 0 8px 0;
	}

	.drop-nav li:last-child,
	.drop-nav li[data-last-child="true"] {
		float: right;
		margin: 0 18px 0 0;
		padding: 0; 
	}

	.drop-nav li a {
	    padding: 30px 20px;
	    width: 135px;
	    height: 135px;
	    font-size: 1.05em;
	    border-radius: 70px;
	}

	.drop-nav li:last-child a,
	.drop-nav li[data-last-child="true"] a {
	    width: 185px;
	    height: 185px;
	    position: relative;
	    border-radius: 93px;
	}

	.drop-nav li:last-child a:before,
	.drop-nav li[data-last-child="true"] a:before,
	.drop-nav li[data-last-child="true"] a:after {
		overflow: visible;
		position: absolute;
		display: block;
		content: " ";
	}

	.drop-nav li[data-image='map'] a:before {
		background: url("../img/small-for-buttons/tri-map.png") no-repeat scroll 0 0;
		top: 23px;
		left: 13px;
		bottom: 0;
		right: 0;
	}

	.drop-nav li[data-image='find-major'] a:before {
		background: url("../img/small-for-buttons/academics-find-major.png") no-repeat scroll 0 0;
		top: -2px;
		left: -2px;
		bottom: 0;
		right: 0;
	}

	.drop-nav li[data-image='iphone'] a:before {
		background: url("../img/small-for-buttons/iphone-5-admissions.png") no-repeat scroll 0 0;
		top: -3px;
		left: 45px;
		right: 0;
		bottom: -8px;
	}

	.drop-nav li[data-image='brochure'] a:before {
		background: url("../img/small-for-buttons/sb-brochure.png") no-repeat scroll 0 0;
		top: 10px;
		left: 28px;
		bottom: 0;
		right: 0;
	}

	.drop-nav li[data-image='map'] a:hover:before {
		top: 19px;
		left: 9px;
	}

	.drop-nav li[data-image='find-major'] a:hover:before {
		top: -0.5px;
		left: -0.5px;
		background-size: 99.5%
	}

	.drop-nav li[data-image='iphone'] a:hover:before {
		top: -7px;
		left: 41px;
	}

	.drop-nav li[data-image='brochure'] a:hover:before {
		top: 6px;
		left: 24px;
	}

	.drop-nav li a:before {
		background: url("../img/small-for-buttons/tri-map.png") no-repeat scroll 0 0;
		top: 23px;
		left: 13px;
		bottom: 0;
		right: 0;
	}

	.drop-nav li[data-last-child="true"] a:after {
		background: url("../img/small-for-buttons/red-ribbon.png") no-repeat scroll 0 0;
		top: 80px;
		right: -15px;
		bottom: 0;
		left: -15px;
	}

	.drop-nav li[data-last-child="true"] a:hover:after {
		background: url("../img/small-for-buttons/red-ribbon.png") no-repeat scroll 0 0;
		top: 76px;
		right: -19px;
		bottom: 0;
		left: -19px;
	}

	.drop-nav li[data-last-child="true"] a .label {
		z-index: 10000;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 95px;
		right: 0;
		font-family:'TradeGothicW01-BoldCn20 675334';
		text-transform: uppercase;
		font-size: 1.3em;
		letter-spacing: .025em;
	}

	.drop-nav li[data-last-child="true"] a:hover .label {
		top: 91px;
	}

	.drop-nav li[data-last-child="true"] a .label:after {
		display: inline-block;
        content: "\f0da";
        margin: 0 0 0 4px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        z-index: 1;
        font-size: 1em;
	}


}