/* Main */

.main {
    background: #fff;
}
/* Page Title */

.no-space,
.page-title .hide-text {
    font-size: 0;
}

.page-title .at-text:before {
    content: "@";
    display: inline-block;
    color: #000;
    margin: 0 0 0 2px;
}

.page-title h1 {
    width: 100%;
    text-align: center;
    margin: 15px 0 15px;
}

.page-title h1 a {
    color: inherit;
    text-decoration: none;
}

/* Carousel */

.owl-wrapper-outer {
    background: #000;
}

.owl-carousel .owl-wrapper-outer {
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-left {
    top: 30px;
    left: 70px;
    text-align: left;
    padding: 0 70px 0 0;
}

.top-right {
    top: 30px;
    right: 70px;
    text-align: right;
    padding: 0 0 0 70px;
}

.bottom-left {
    bottom: 30px;
    left: 70px;
    text-align: left;
    padding: 0 70px 0 0;
}

.bottom-right {
    bottom: 30px;
    right: 70px;
    text-align: right;
    padding: 0 0 0 70px;
}

.centered {
    top: 30px;
    left: 70px;
    text-align: left;
    padding: 0 70px 0 0;
}

/* Carousel style 1 */

.carousel-style-01 .carousel-image:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,10,0.4);
}

.carousel-style-01 .carousel-text {
    position: absolute;
    max-width: 100%;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 10px #000, 0 1px 0 #000, 0 0 3px #000;
    font-family:'Trade Gothic W01 Light';
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-style-01 .carousel-title {
    font-size: 1.1em;
    line-height: 1.3em;
    width: 100%;
}

.carousel-style-01 .carousel-subtitle {
    font-size: .85em;
    text-transform: uppercase;
    line-height: 1.6em;
    border-top: 1px solid #fff;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}

/* Carousel Style 2 */

.carousel-style-02 .carousel-text {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family:'Trade Gothic W01 Light';
    z-index: 100;
    border-top: 1px solid #fff;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-style-02 .carousel-title {
    display: inline-block;
    font-size: 1.2em;
    float: left;
    width: 100%;
    text-align: center;
}

.carousel-style-02 .carousel-subtitle {
    display: inline-block;
    font-size: 1.1em;
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0 0;
}

.carousel-style-02 .carousel-subtitle:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 1;
    content: "\f105";
    margin: 0 0 0 6px;
}

.carousel-style-02 .item {
    height: auto;
}

/* Carousel Style 3 */

.carousel-style-03 .owl-wrapper-outer,
.carousel-style-03 .owl-item {
    background: transparent;
    border: 0 none;
}

.carousel-style-03 ~ .owl-prev,
.carousel-style-03 ~ .owl-next {
    border: 0 none;
    background: transparent;
    font-size: 5em;
    color: #fff;
}

/* Continue second level page styles */

.small-title-1 {
    text-align: center;
    padding: 20px 0;
    margin: 25px 0;
}

/* Fonts and elements */

.small-title-2,
.medium-title-2 {
    text-align: center;
}

h2.small-title-2 {
    font-size: 1.4em;
    margin: 0;
}

h3.medium-title-2 {
   font-size: 1.45em;
   margin: 0 0 15px;
}

.intro-text {
    display: block;
    margin: 0 0 25px;
}

.intro-text strong {
    font-weight: normal;
    font-family: 'Trade Gothic Next W01';
}

h4 {
    font-family: 'TradeGothicW01-BoldCn20 675334';
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

/* Footer */

.footer-container {
    background: #111;
}

/* headers */

.center-rule-header {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.center-rule-header h2 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: url("../img/bkg/transparent-black-65.png") repeat scroll 0 0;
    border-top: 1px solid #ddd;
    padding: 0;
    font-family: 'CenturyExpandedLTW01-Ro';
    font-weight: normal;
    text-transform: none;
    color: #ddd;
    text-align: center;
}

.center-rule-header h2 span,
.center-rule-header h2 a {
    display: inline-block;
    padding: 7px 0 9px;
    position: relative;
    color: #ddd;
}
.center-rule-header h2 a:hover {
    color: #fff;
}

.center-rule-header h2 span:before,
.center-rule-header h2 span:after,
.center-rule-header h2 a:before,
.center-rule-header h2 a:after {
    display: none;
    content: "";
    border-left: 2px solid #bbb;
    width: 2px;
    height: 33px;
    position: absolute;
    top: 13px;
}

.center-rule-header h2 span:before,
.center-rule-header h2 a:before {
    left: -24px;
}

.center-rule-header h2 span:after,
.center-rule-header h2 a:after {
    right: -24px;
}

/* Sections */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 340px) {
    .page-title h1 {
        margin: 30px 0 30px;
    }
}

@media only screen and (min-width: 380px) {

}

@media only screen and (min-width: 481px) {

    .carousel-style-01 .carousel-title {
        font-size: 1.55em;
        line-height: 1.3em;
    }

    .carousel-style-01 .carousel-subtitle {
        font-size: 1em;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 560px) {

}

@media only screen and (min-width: 768px) {
    .carousel-style-01 .carousel-image:after {
        background-color: transparent;
        /* background-image: url("../jobs/images/carousel-fade.jpg"); */
        background-repeat: no-repeat;
        background-size: 120%;
    }
    .carousel-style-01 .carousel-text {
        max-width: 35%;
    }
    .carousel-style-02 .carousel-title {
        text-align: left;
    }
    .carousel-style-02 .carousel-subtitle {
        text-align: right;
    }
    .centered {
        top: 10%;
        left: 30%;
    }

    .dual-tone-cards-1 .card {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 31.333%;
        float: left;
        margin: 0 1%;
    }

    .dual-tone-cards-1 .card span {
        padding: 15px 0 0 0;
    }

    .dual-tone-cards-1 .card span:after {
        margin: 15px 0 0 0;
        padding: 10px 0 13px;
    }

    
}

@media only screen and (min-width: 960px) {
    .center-rule-header h2 span:before,
    .center-rule-header h2 span:after,
    .center-rule-header h2 a:before,
    .center-rule-header h2 a:after {
        display: inline-block;
    }

    .page-title h1 {
        margin: 35px 0 35px;
    }

    h2.small-title-2 {
        font-size: 1.3em;
        margin: 0;
        text-align: left;
    }

    h3.medium-title-2 {
       font-size: 1.7em;
       margin: 0 0 15px;
       text-align: left;
    }
}

@media only screen and (min-width: 1022px) {

    .page-title .at-text:before {
        font-size: 46px;
    }

    .dual-tone-cards-1 .card span,
    .dual-tone-cards-1 .link span {
        padding: 25px 0 0 0;
    }

    .dual-tone-cards-1 .card span {
        font-size: 1.4em;
    }

    .dual-tone-cards-1 .card span:after {
        margin: 25px 0 0 0;
        padding: 17px 0 20px;
    }

    .carousel-style-02  .carousel-image {
        height: 335px;
    }

    .carousel-style-02 .carousel-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 24px;
        border: 1px solid #eee;
        background: #111;
        background: rgba(0,0,0,.7);
        padding: 12px;
    }

    .carousel-style-02 .carousel-title {
        display: inline-block;
        float: left;
        width: auto;
        max-width: 85%;
        font-size: 1.6em;
    }

    .carousel-style-02 .carousel-subtitle {
        display: inline-block;
        float: right;
        width: auto;
        max-width: 15%;
        font-size: 1em;
        margin: 9px 0 0;
    }

}

@media only screen and (min-width: 1140px) {

/* wrapper */

    .carousel-style-01 .carousel-text {
        max-width: 35%;
    }

    .top-left {
        left: 35px;
    }

    .top-right {
        right: 35px;
    }

    .bottom-left {
        left: 35px;
    }

    .bottom-right {
        right: 35px;
    }

    .centered {
        top: 25%;
        left: 34%;
    }

    .owl-next,
    .owl-prev {
        background: transparent;
        color: #333;
        border: 0 none;
        font-size: 5em;
    }

    .owl-next:hover,
    .owl-prev:hover {
        background: rgba(30,30,30,.1);
        box-shadow: none;
    }

    .owl-prev {
        top: 130px;
        left: -70px;
    }

    .owl-next {
        top: 130px;
        right: -70px;
    }

}

@media only screen and (min-width: 1460px) {
    
}

@media only screen and (min-width: 1800px) {
  
}

@media only screen and (min-width: 2880px) {
/* ===============
    This is just nuts...
   =============== */
}

@media only screen and (min-width: 3640px) {
/* ===============
    Really? You're joking... right?
    ;-)
   =============== */
}